{
"ConnectionStrings": {
    "DefaultConnection": "Host=localhost;Database=geoproject_db;Username=postgres;Password=your_password_here;Port=5432"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning",
      "Microsoft.EntityFrameworkCore.Database.Command": "Information"
    }
  },
  "AllowedHosts": "*"
}